@page "/todo"
@using BlazorTodoList.Models
@rendermode InteractiveServer



<PageTitle>Todo</PageTitle>

<h3>Todo (@todos.Count(todo => !todo.IsDone))</h3>

@* <input placeholder="Something todo" @bind="newTodo" /> *@

<div class="container">
    <div class="input-group mb-3">

        <input type="text" class="form-control" aria-label="Something todo" @bind="newTodo">
        <button type="button" class="btn btn-outline-success" @onclick="AddTodo">Add todo</button>
    </div>
    <ul class="list-group">
        @foreach (var todo in todos)
        {
@*             <li class="list-group-item">
                <span>@todo.Title</span>
                <input type="checkbox" @bind="todo.IsDone" />
            </li> *@

            <div class="form-check form-switch">
                <label class="form-check-label" for="mySwitch">@todo.Title</label>
                <input class="form-check-input" type="checkbox" id="mySwitch" value="yes" @bind="todo.IsDone">

            </div>
        }

    </ul>



</div>




@code {
    private List<TodoItem> todos = new();
    private string? newTodo;
    private void AddTodo()
    {
        if (!string.IsNullOrWhiteSpace(newTodo))
        {
            todos.Add(new TodoItem { Title = newTodo });
            newTodo = string.Empty;
        }
    }

}
